<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Neasa Hourigan</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/priorities" class="link">Priorities</a></li>
					<li><a href="/post" class="link">News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
					<li><a href="/post/dublin-blockers/" class="link">Dublin Blockers</a></li>
					<li ><a href="/credits" class="link">Credits</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/neasahourigangreen/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "http://www.snapchat.com/add/neasahourigan" "svg" "icons-snapchat") }}
					{{ partial "social-icon" (dict "link" "http://instagram.com/smallhomebigplanet" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/neasa_neasa" "svg" "icons-twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
