<head>

	{{ template "_internal/google_analytics_async.html" . }}

	<script>
		var captureOutboundLink = function(url) {
		   ga('send', 'event', 'outbound', 'click', url, {
			 'transport': 'beacon',
			 'hitCallback': function(){document.location = url;}
		   });
		}
	</script> 
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-24VJH3JXB5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-24VJH3JXB5');
	</script>

	<title>{{ .Title }} | Neasa Hourigan, Green Party TD Dublin Central</title>

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	  <link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<meta property="og:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ "/img/073A2409.jpg" | absURL }}{{ end }}" />
	{{ with .Params.description }} <meta property="og:description" content="{{.}}"/>{{ end }}

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
