<section class="flex-ns items-center pb2">
    <div class="mw6 ph3">
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/jsIbgVXM2pg" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture;
web-share"
allowfullscreen></iframe>
    </div>
    
    <div class="mw6 ph3">
      <img src="{{.imageUrl}}"> 
    </div>
    <div class="tc tl-ns ph3">
      <h1 class="f2 f1-l b lh-title mb3 mt4 mt0-ns">{{.title}}</h1>
      <h2 class="b f4 di lh-title mb4 mb5-l primary">Latest news: <a href="{{.subtitlelink}}">{{.subtitle}}</a></h2>
    </div>
  </section>
