<nav class="db dt-l justify-between bg-white divider-grey relative w-100">

	<!-- Logo -->
	<div class="db dtc-l tc tl-l"> 
		<a href="/" class="pa3 db dtc-l
		 h-100 w3 flex-none dib">
			<img src="/img/logo-green.png" alt="Green Party logo" class="br0 db mb0"/>
		</a>
	</div>

	<!-- Primary Nav -->
	<div class="db dtc-l b grey-3 v-mid tc tr-l">
		<div class="dib"><a href="/about" class="pa3-l pa2 no-underline">About</a></div>

		<div class="dib"><a href="/priorities" class="pa3-l pa2 no-underline">Priorities</a></div>

		<div class="dib"><a href="/post" class="pa3-l pa2 no-underline">News</a></div>

		<div class="dib"><a href="/contact" class="pa3-l pa2 no-underline">Contact</a></div>

	</div>

</nav>
