{{ define "main" }}

{{ partial "marketing" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<div class="bg-grey-1 pv4">
    <div class="flex-l mhn1-l ph3 center mw7">
        <div class="db center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x03FwTTHR7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div> 

{{ partial "headed-row" .Params }}

{{ partial "blog" . }}

{{ end }}
