{{ define "main" }}

{{ partial "marketing" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<div class="bg-off-white pv4 mhn1-l ph3 center mw7 video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x03FwTTHR7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 

{{ partial "headed-row" .Params }}

{{ partial "blog" . }}

{{ end }}
